.signin-form {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-top: 10em;
  width: 35%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  font-family: 'Roboto';

  .switch {
    width: 250px;
    height: 34px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
  .slider {
    cursor: pointer;
    background-color: #E9E9E9;
    span:nth-child(0n + 1) {
      color: white;
    }
    span:nth-child(0n + 2) {
      color: black;
    }
  }
  input:checked + .slider {
    span:nth-child(0n + 1) {
      background-color: #E9E9E9;;
      color: black;
    }
    span:nth-child(0n + 2) {
      background-color: #f6830f;
      color: white;
    }
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #f6830f;
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    height: 34px;

    span:nth-child(0n + 1) {
      line-height: 34px;
      vertical-align: middle;
      float: left;
      text-align: center;
      background-color:#f6830f;
      border-radius: 34px;
      width: 50%;
      transition: 0.4s;
    }
    span:nth-child(0n + 2) {
      line-height: 34px;
      vertical-align: middle;
      float: right;
      text-align: center;
      border-radius: 34px;
      width: 50%;
      transition: 0.4s;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    margin-top: 3.5em;

    input:nth-child(0n + 1) {
        background: url('../../assets/HELPSHKOOL_FORM_USER.svg') no-repeat scroll 12px 12px;
        padding-left:40px;
    }

    input:nth-child(0n + 2) {
        background: url('../../assets/HELPSHKOOL_FORM_MAIL.svg') no-repeat scroll 12px 12px;
        padding-left:40px;
    }

    input:nth-child(0n + 3) {
        background: url('../../assets/HELPSHKOOL_FORM_PASSWORD.svg') no-repeat scroll 12px 12px;
        padding-left:40px;
    }

    input {
      margin-top: 16px;
      height: 3em;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      text-decoration: none;
      
     /* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
}*/
    }
  }

  .social-signin {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: 0 auto;
      margin-top: 16px;

      button {
        height: 3em;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        text-decoration: none;
        background-color: transparent;
        cursor: pointer;
        text-align: start;
        color: gray;
        margin-bottom: 16px;
        &:nth-child(0n + 1) {
            background: url('../../assets/HELPSHKOOL_FORM_FACEBOOK.svg') no-repeat scroll 10px 5px;
            padding-left:40px;
        }
        &:nth-child(0n + 2) {
            background: url('../../assets/HELPSHKOOL_FORM_GOOGLE.svg') no-repeat scroll 8px 8px;
            padding-left:40px;
        }
      }
  }

  .bottom-text {
      width: 23em;
      margin: 0 auto;
      text-align: center;
      margin-top: 2em;
      margin-bottom: 4em;
  }

  .submit-button {
    position: fixed;
    left: 46.5%;
    top: 82%;
    background-color: #f6830f;
    border: 0;
    border-radius: 15px;
    height: 2.5em;
    width: 10em;
    color: white;
  }
}

.svg-background {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: url("../../assets/HELPSHKOOL_FORMS_BACKGROUND.svg") no-repeat 330px 120px /60%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
