<div class="signin-form">
  <label class="switch noselect">
    <input type="checkbox" />
    <div class="slider round"><span>Se connecter </span><span>S'inscrire</span></div>
  </label>
  <form>
      <input type="text" placeholder="Pseudo"/>
      <input type="text" placeholder="Adresse mail"/>
      <input type="text" placeholder="Mot de passe"/>
      <button type="submit" class="submit-button">Me connecter</button>
  </form>
  <div class="social-signin">
      <button>Connexion avec Facebook</button>
      <button>Connexion avec Google</button>
  </div>
  <div class="bottom-text">
      <span>En cliquant sur "Connexion", vous acceptez nos <a href="#cgu">Conditions d'utilisation</a></span>
  </div>
</div>
<div class="svg-background"></div>
