<div class="signin-form">
  <label class="switch">
    <input type="checkbox" />
    <div class="slider round"><span>Se connecter </span><span>S'inscrire</span></div>
  </label>
  <form>
      <input type="text" placeholder="Pseudo"/>
      <input type="text" placeholder="Adresse mail"/>
      <input type="text" placeholder="Mot de passe"/>
      <button type="submit" class="submit-button">Me connecter</button>
  </form>
  <div class="social-signin">
      <button>Connexion avec Facebook</button>
      <button>Connexion avec Google</button>
  </div>
  <div class="bottom-text">
      <span>En cliquant sur "Connexion", vous acceptez nos <a href="#cgu">Conditions d'utilisation</a></span>
  </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="449.154" height="449.154" viewBox="0 0 449.154 449.154" style="z-index: -1;">
  <defs>
    <linearGradient id="linear-gradient" x1="0.146" y1="0.146" x2="0.854" y2="0.854" gradientUnits="objectBoundingBox">
      <stop offset="0" stop-color="#e8505b" stop-opacity="0.102"/>
      <stop offset="0.12" stop-color="#e8505b" stop-opacity="0.122"/>
      <stop offset="0.258" stop-color="#e8505b" stop-opacity="0.18"/>
      <stop offset="0.406" stop-color="#e8505b" stop-opacity="0.282"/>
      <stop offset="0.56" stop-color="#e8505b" stop-opacity="0.424"/>
      <stop offset="0.72" stop-color="#e8505b" stop-opacity="0.604"/>
      <stop offset="0.881" stop-color="#e8505b" stop-opacity="0.82"/>
      <stop offset="1" stop-color="#e8505b"/>
    </linearGradient>
  </defs>
  <circle id="Ellipse_10" data-name="Ellipse 10" cx="224.577" cy="224.577" r="224.577" fill="url(#linear-gradient)"/>
</svg>
