<div class="assistance">
    <div class="first-text">
        <span><strong>Besoin d'aide ?</strong> Nous sommes là pour vous !</span>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="links-buttons">
        <div><a href="#parametres"><div class="svg"></div>Paramètres du compte<div class="block-text"><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span></div></a></div>
        <div><a href="#premier-pas"><div class="svg"></div>Premier pas<div class="block-text"><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span></div></a></div>
        <div><a href="#mises-a-jour"><div class="svg"></div>Mises à jour<div class="block-text"><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span></div></a></div>
        <div><a href="#facturation"><div class="svg"></div>Facturation<div class="block-text"><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span></div></a></div>
        <div><a href="#contact"><div class="svg"></div>Contactez-nous<div class="block-text"><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span></div></a></div>
        <div><a href="#faq"><div class="svg"></div>FAQ<div class="block-text"><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span></div></a></div>
    </div>
    <div class="download-link">
        <span>Prêt à tenter l'<strong>aventure</strong> ?</span>
        <a href="#download">Télécharger l'application</a>
    </div>
    <footer>
        <div class="upper-side">
          <div class="logo-social-medias">
            <a href="#default" class="logo"></a>
            <div class="social-medias">
              <a href="#facebook" id="footer-facebook"><span></span></a>
              <a href="#instagram" id="footer-instagram"><span></span></a>
              <a href="#youtube" id="footer-youtube"><span></span></a>
              <a href="#twitter" id="footer-twitter"><span></span></a>
              <a href="#linkedin" id="footer-linkedin"><span></span></a>
            </div>
          </div>
          <div class="menu-footer">
            <div>
              <span>Téléchargement</span>
              <a href="#appstore">App Store</a>
              <a href="#googleplay">Google Play</a>
            </div>
            <div>
              <span>A propos</span>
              <a href="#presentation">Présentation</a>
              <a href="#assistance">Assistance</a>
              <a href="#faq">FAQ</a>
            </div>
            <div>
              <span>Chartes</span>
              <a href="#conditions-utilisations">Conditions d'utilisations</a>
              <a href="#confidentialités">Confidentialités</a>
              <a href="#licences">Licences</a>
            </div>
          </div>
        </div>
        <div class="downer-side">
          <span
            >2020 Tous droits réservés © - WIS LILLE, 90 rue nationale - 59000
            Lille</span
          >
        </div>
      </footer>
</div>

