@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

::ng-deep body,
::ng-deep html {
  width: 100%;
  overflow-x: hidden;
}

.primaire {
  strong {
    color: #f9d56e;
  }
  .svg-third-text-one,
  .svg-third-text-two,
  .svg-third-text-three {
    svg > g > circle,
    svg > g > ellipse {
      fill: #f9d56e;
    }
  }
  .svg-background {
    svg > path {
      fill: #f9d56e;
    }
  }
  .seventh-text {
    a {
      background-color: #f9d56e !important;
    }
  }
  footer > .upper-side {
    background-color: rgba(#f9d56e, 0.2) !important;
  }

  footer > .downer-side {
    background-color: #f9d56e !important;
  }
}

.college {
  strong {
    color: #e8505b;
  }
  .svg-third-text-one,
  .svg-third-text-two,
  .svg-third-text-three {
    svg > g > circle,
    svg > g > ellipse {
      fill: #e8505b;
    }
  }
  .svg-background {
    svg > path {
      fill: #e8505b;
    }
  }
  .seventh-text {
    a {
      background-color: #e8505b !important;
    }
  }
  footer > .upper-side {
    background-color: rgba(#e8505b, 0.2) !important;
  }

  footer > .downer-side {
    background-color: #e8505b !important;
    color: white;
  }
}

.lycee {
  strong {
    color: #14b1ab;
  }
  .svg-third-text-one,
  .svg-third-text-two,
  .svg-third-text-three {
    svg > g > circle,
    svg > g > ellipse {
      fill: #14b1ab;
    }
  }
  .svg-background {
    svg > path {
      fill: #14b1ab;
    }
  }
  .seventh-text {
    a {
      background-color: #14b1ab !important;
    }
  }
  footer > .upper-side {
    background-color: rgba(#14b1ab, 0.2) !important;
  }

  footer > .downer-side {
    background-color: #14b1ab !important;
  }
}

.introduction {
  margin-left: 5em;
  font-family: "Roboto";
  .first-text {
    margin-top: 5em;
    .left-content {
      display: inline-block;
      .main-message {
        font-family: "Bebas Neue";
        font-size: 56pt;
        width: 7em;
        color: #f6830f;
      }
      .sub-message {
        margin-top: 2em;
        width: 28em;
        line-height: 20px;
        span {
          color: #000;
        }
      }
      .download-links {
        display: flex;
        flex-direction: row;
        width: 430px;
        justify-content: space-between;
        margin-top: 3em;
        .appstore-link {
          display: block;
          width: 203px;
          height: 68px;
          background: url("../../assets/appstore.svg") no-repeat;
        }
        .playstore-link {
          display: block;
          width: 203px;
          height: 72px;
          background: url("../../assets/googleplay.svg") no-repeat;
        }
      }
    }
    .right-content {
      display: inline-block;
      position: absolute;
      right: 0;
      margin-top: -5em;
      .side-image {
        width: 1000px;
        height: 810px;
        float: right;
        .svg-background {
          width: 90%;
          height: 100%;
          z-index: -1;
          .svg-phone {
            width: 1400px;
            height: 800px;
            position: absolute;
            top: 1px;
            background: url("../../assets/Groupe\ 372.png") no-repeat;
            transform: scale(0.7);
          }
        }
      }
    }
  }

  .second-text {
    display: block;
    width: 47em;
    margin: 0 auto;
    margin-top: 25em;

    p {
      font-family: "Bebas Neue";
      font-size: 56pt;
      span {
        color: #f6830f;
      }
    }
  }

  .third-text {
    margin-top: 10em;
    margin-right: 5em;
    display: flex;
    flex-direction: row;
    justify-content: start;

    > div {
      flex: 1 1 0px;
    }

    div[class*="svg-third-text-"] {
      margin: 0 auto;
      width: 151px;
      height: 151px;
    }

    p {
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      :nth-child(0n + 1) {
        font-family: "Bebas Neue";
        font-size: 36pt;
        text-align: center;
      }
      :nth-child(0n + 2) {
        margin: 0 auto;
        margin-top: 1em;
        text-align: center;
        width: 16.7em;
      }
    }
  }

  .fourth-text {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-top: 8em;
    margin-left: 15em;
    margin-right: 15em;
    align-items: center;
    justify-content: space-around;
    :nth-child(0n + 1) {
      width: 30em;
      span {
        font-family: "Bebas Neue";
        font-size: 56pt;
      }
      p {
        margin-top: 2em;
      }
    }

    .svg-fourth-text {
      width: 650px;
      height: 530px;
      background: url("../../assets/img-travailler-sur.png");
    }
  }
  .fifth-text {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-top: 8em;
    margin-left: 15em;
    margin-right: 15em;
    align-items: center;
    justify-content: space-around;
    .text {
      width: 100%;
      span {
        font-family: "Bebas Neue";
        font-size: 56pt;
      }
      p {
        margin-top: 2em;
      }
    }

    .svg-fifth-text {
      width: 678px;
      height: 543px;
      margin-right: 3em;
      background: url("../../assets/img-beneficier.png");
    }
  }

  .sixth-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 8em;
    margin-left: 15em;
    margin-right: 15em;
    align-items: center;
    justify-content: space-around;

    .text {
      width: 100%;
      text-align: center;
      span {
        font-family: "Bebas Neue";
        font-size: 56pt;
      }
      p {
        margin: 0 auto;
        margin-top: 2em;
      }
    }
    .svg-sixth-text {
      margin-top: 4em;
      height: 686px;
      width: 1189px;
      background: url("../../assets/interface.png");
    }
  }

  .seventh-text {
    display: flex;
    flex-direction: column;
    margin-top: 8em;
    align-items: center;
    justify-content: space-around;

    span {
      font-family: "Bebas Neue";
      font-size: 56pt;
    }

    a {
      text-decoration: none;
      text-align: center;
      line-height: 3em;
      background-color: #f6830f;
      color: white;
      border-radius: 30px;
      width: 15em;
      height: 3em;
    }
  }
}

footer {
  height: 300px;
  width: 100vw;
  margin-top: 5em;
  margin-left: -5em;
  .upper-side {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    vertical-align: middle;
    height: 80%;
    background-color: #f3ecc2;
    .logo-social-medias {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .logo {
        margin-left: 25px;
        width: 320px;
        height: 40px;
        background: url("../../assets/HELPSHKOOL_LOGO.svg") no-repeat 50px;
        transform: scale(1.75);
      }
    }
    .social-medias {
      margin-top: 3em;
      display: flex;
      flex-direction: row;
      height: 50px;
      justify-content: space-between;
      * {
        display: block;
        height: 50px;
        width: 50px;
        background: url("../../assets/medias-circle.svg") no-repeat;
      }
      #footer-linkedin span {
        background: url("../../assets/medias-linkedin.svg") no-repeat 14px 12px;
      }
      #footer-facebook span {
        background: url("../../assets/medias-facebook.svg") no-repeat 18px 12px;
      }
      #footer-twitter span {
        background: url("../../assets/medias-twitter.svg") no-repeat 12px 14px;
      }
      #footer-youtube span {
        background: url("../../assets/medias-youtube.svg") no-repeat 12px 14px;
      }
      #footer-instagram span {
        background: url("../../assets/medias-instagram.svg") no-repeat 12px 11px;
      }
    }
  }

  .menu-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4em;
    width: 50em;
    div {
      display: flex;
      flex-direction: column;
      text-align: center;
      span {
        font-family: "Bebas Neue";
        font-size: 22pt;
        margin-bottom: 1em;
      }
      a {
        text-decoration: none;
        font-family: "Roboto";
        color: #434343;
        margin-bottom: 0.5em;
      }
    }
  }

  .downer-side {
    height: 20%;
    span {
      display: block;
      width: max-content;
      margin: 0 auto;
      height: 100%;
      font-family: "Roboto";
      line-height: 70px;
    }
  }
}

@media screen and(max-width: 1560px) {
  .introduction {
    margin: 0;
  }
  .first-text {
    margin: 0 auto;
  }
  .left-content {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    > div {
      margin: 0 auto;
    }

    .main-message {
      width: auto !important;
      max-width: 11em;
    }
  }
  .right-content {
    display: block !important;
    right: auto !important;
    margin-top: auto !important;
    width: 100%;
    .side-image {
      width: auto !important;
      height: auto !important;
      .svg-background {
        > svg {
          display: none;
        }
        .svg-phone {
            width: 80vw !important;
            height: 70vh !important;
            transform: scale(0.4);
            position: relative !important;
        }
      }
      
    }
  }
  .second-text {
    width: 100% !important;
    margin: 0 auto !important;
    text-align: center !important;
    margin-top: 35em !important;
  }
  .third-text {
    margin-right: 0 !important;
  }
  .fourth-text, .fifth-text, .sixth-text {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media screen and(max-width: 1320px) {
  .right-content {
    display: none !important;
  }

  .second-text {
    margin-top: 3em !important;
  }
}

@media screen and(max-width: 810px) {
  .third-text, .fourth-text, .fifth-text {
    flex-direction: column !important;
    text-align: center !important;
  }

  .svg-sixth-text {
    display: none !important ;
  }

}
