@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.introduction {
  margin-left: 5em;
  font-family: "Roboto";
  .first-text {
    margin-top: 5em;
    .left-content {
      display: inline-block;
      .main-message {
        font-family: "Bebas Neue";
        font-size: 56pt;
        width: 7em;
        color: #f6830f;
      }
      .sub-message {
        margin-top: 2em;
        width: 28em;
        line-height: 20px;
      }
      .download-links {
        display: flex;
        flex-direction: row;
        width: 430px;
        justify-content: space-between;
        margin-top: 3em;
        .appstore-link {
          display: block;
          width: 203px;
          height: 68px;
          background: url("../../assets/appstore.svg") no-repeat;
        }
        .playstore-link {
          display: block;
          width: 203px;
          height: 72px;
          background: url("../../assets/googleplay.svg") no-repeat;
        }
      }
    }
    .right-content {
      display: inline-block;
      position: absolute;
      right: 0;
      margin-top: -5em;
      .side-image {
        width: 1000px;
        height: 810px;
        float: right;
        .svg-background {
          width: 100%;
          height: 100%;
          background: url("../../assets/rectangle-jaune.svg") no-repeat;
          .svg-phone {
            width: 100%;
            height: 100%;
            background: url("../../assets/iphone-robot-jaune.svg") no-repeat 300px 100px;
          }
        }
      }
    }
  }
}
