<div class="introduction">
  <div class="first-text">
    <div class="left-content">
      <div class="main-message">
        <span>Faites le bon choix d'apprentissage pour vos enfants !</span>
      </div>
      <div class="sub-message">
        <span
          >HelpShkool aide vos enfants dans son apprentissage scolaire grâce à
          des aides spécialisées.</span
        >
      </div>
      <div class="download-links">
        <a class="appstore-link" href="#app-store"></a>
        <a class="playstore-link" href="#play-store"></a>
      </div>
    </div>
    <div class="right-content">
      <div class="side-image">
        <div class="svg-background"><div class="svg-phone"></div></div>
      </div>
    </div>
  </div>
</div>
