<header>
  <div class="header">
    <a href="#default" class="logo"></a>
    <div class="header-right">
      <a href="#telecharger">Télécharger</a>
      <a href="#presentation">Présentation</a>
      <a href="#contact">Assistance</a>
      <a href="#about">Contact</a>
      <a class="connect-button" [routerLink]="['/signin']">Connexion</a>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<footer>
  <div class="footer-text">
    <span
      >2020 Tous droits réservés © - WIS LILLE, 90 rue nationale - 59000
      Lille</span
    >
  </div>
</footer>
