<header>
  <div class="header">
    <a href="#default" class="logo"></a>
    <div class="header-right">
      <a href="#telecharger">Télécharger</a>
      <a href="#presentation">Présentation</a>
      <a href="#contact">Assistance</a>
      <a href="#about">Contact</a>
      <a class="connect-button" href="#connexion">Connexion</a>
    </div>
  </div>
</header>

  <div class="title-container">
    <h1 class="homepage-title">Choisissez le niveau de votre enfant</h1>
  </div>
  <div class="subtitle-container">
    <p>
      En choisissant le niveau de votre enfant, vous accédez à un contenu
      personnalisé à son niveau. Lorem Ipsum is simply dummy text of the
      printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a
      galley of type and scrambled it to make a type specimen book.
    </p>
  </div>

  <div class="level-container">
    <a href="#primaire">Primaire</a>
    <a href="#college">Collège</a>
    <a href="#lycee">Lycée</a>
  </div>

  <footer>
    <div class="footer-text">
    <span>2020 Tous droits réservés © - WIS LILLE, 90 rue nationale - 59000 Lille</span>
  </div>
  </footer>
