/* You can add global styles to this file, and also import other style files */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #434343;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

body[class*="primaire"] {
  .header a.connect-button {
    background-color: #f9d56e !important;
  }
}

body[class*="college"] {
  .header a.connect-button {
    background-color: #e8505b !important;
  }
}

body[class*="lycee"] {
  .header a.connect-button {
    background-color: #14b1ab !important;
  }
}

body[class*="home"] {
  .header a.connect-button {
    background-color: #14b1ab !important;
  }
  overflow-x: hidden;
}

.loader {
  display: none;
}

.loader-responsive {
  display: none;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: #14b1ab;
  z-index: 10;
  overflow: hidden;
  router-outlet div.loader {
    display: block;
    min-width: 60vh;

    svg rect {
      fill: #fef5ec;
    }

    svg path {
      stroke-dashoffset: 0;
      stroke-dasharray: 100%;
      animation: dash 1.5s linear;
    }
  }

  router-outlet + * {
    display: none;
  }

  app-root header {
    display: none;
  }

  @keyframes dash {
    0%, 
    10% {
      stroke-dashoffset: 100%;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
}

.header a.connect-button {
  background-color:  #f9d56e;
  color: white;
  border-radius: 30px;
  width: 150px;

  &:hover {
    animation: colorchange 3s infinite !important;
    animation-direction: alternate-reverse;
  }

  @keyframes colorchange {
    25%, 50% {
      background-color: #f9d56e !important;
    }
    50%, 75% {
      background-color: #14b1ab !important;
    }
    to {
      background-color:#e8505b !important;
    }
  }}
/* Change the white to any color ;) */
@media screen and (max-width: 700px) {
  .loading router-outlet div.loader {
    display: none;
  }

  .loading router-outlet div.loader-responsive {
    display: block;
    transform: scale(2);

    svg rect {
      fill: #fef5ec;
    }

    svg path {
      stroke-dashoffset: 0;
      stroke-dasharray: 100%;
      animation: dash .5s linear infinite alternate-reverse;
    }
  }
}