@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body::ng-deep, html::ng-deep {
  width: 100vw;
  overflow-x: hidden;
}

footer {
  height: 50px;
  width: 100vw;
  margin-top: 5em;

  .downer-side {
    height: 20%;
    span {
      display: block;
      width: max-content;
      margin: 0 auto;
      height: 100%;
      font-family: "Roboto";
      line-height: 70px;
    }
  }
}

.title-container,
.subtitle-container {
  text-align: center;
  margin: 0 auto;
  width: 57em;

  h1 {
    margin-top: 1em;
    font-family: "Bebas Neue";
    font-size: 56pt;
    color: #f6830f;
  }

  p {
    margin-top: 0.75em;
    font-family: "Roboto";
    font-size: 14pt;
    text-align: center;
    line-height: 22px;
  }
}

.level-container {
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  a {
    text-decoration: none;
    color: white;
    background-color: red;
    line-height: 550px;
    font-family: "Bebas Neue";
    font-size: 56pt;
    text-align: center;
    width: 500px;
    height: 440px;
  }

  :nth-child(0n + 1) {
    background-color: #f9d56e !important;
    position: relative;
    &::before {
      position: absolute;
      content: " ";
      background-image: url("../../assets/HELPSHKOOL_PRIMAIRE.svg");
      background-size: cover;
      display: inline-block;
      top: calc(50% - 100px);
      width: 72px;
      height: 77px;
      left: 42%;
    }
  }

  :nth-child(0n + 2) {
    background-color: #e8505b !important;
    position: relative;
    &::before {
      position: absolute;
      content: " ";
      background-image: url("../../assets/HELPSHKOOL_COLLEGE.svg");
      background-size: cover;
      display: inline-block;
      top: calc(50% - 100px);
      width: 72px;
      height: 77px;
      left: 42%;
    }
  }

  :nth-child(0n + 3) {
    background-color: #14b1ab !important;
    position: relative;
    &::before {
      position: absolute;
      content: " ";
      background-image: url("../../assets/HELPSHKOOL_LYCEE.svg");
      background-size: cover;
      display: inline-block;
      top: calc(50% - 120px);
      width: 100px;
      height: 95px;
      left: 42%;
    }
  }
}

@media screen and(max-width: 1190px) {
  .level-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .title-container,
  .subtitle-container {
    width: 100%;
  }

  :nth-child(n + 2) {
    margin-top: 1em;
  }
}

@media screen and(max-width: 700px) {
  .level-container {
    a {
      width: 80%;
    }
  }



  footer .downer-side {
    span {
      text-align: center;
      width: 100%;
      line-height: normal;
    }
  }
}

