<div class="title-container">
  <h1 class="homepage-title">Choisissez le niveau de votre enfant</h1>
</div>
<div class="subtitle-container">
  <p>
    En choisissant le niveau de votre enfant, vous accédez à un contenu
    personnalisé à son niveau. Lorem Ipsum is simply dummy text of the printing
    and typesetting industry. Lorem Ipsum has been the industry's standard dummy
    text ever since the 1500s, when an unknown printer took a galley of type and
    scrambled it to make a type specimen book.
  </p>
</div>

<div class="level-container">
  <a href="#primaire" [routerLink]="['/introduction/1']">Primaire</a>
  <a href="#college" [routerLink]="['/introduction/2']">Collège</a>
  <a href="#lycee" [routerLink]="['/introduction/3']">Lycée</a>
</div>
